
.Container {
    position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: rgb(66, 63, 63);
  justify-content: space-between;
  }

  .logoImg{
    width: 96px;
    height: 80px;
    cursor: pointer;
  }
  img {
    height: 5%;
  }